body {
  background-color: #e3f2fd;
}
.centerme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin: auto;
  position: relative;
  top: 5vh;
  /* border: 2px solid #f6a400;
  border-radius: 10%; */
  height: 550px;
  /* width: 400px; */
}

.verticalform {
  text-align: match-parent;
  width: 200px;
  height: 350px;
}
.formdiv {
  border-radius: 10%;
  background-color: #ffffff;
  opacity: 70%;
  padding: 10px;
  min-width: 70%;
}

.logo {
  padding: 10px;
  /* margin: auto; */
}

.landingbody {
  text-align: match-parent;
}

.video-container {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.video {
  /* Make video to at least 100% wide and tall */
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  /* Setting width & height to auto prevents the browser from stretching or squishing the video */
  width: auto;
  height: auto;
  /* Center the video */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(-1);
}

.prompt-container {
  position: relative;
  width: 100%;
  padding: 150px 0px;
  margin: 20px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.prompt-card {
  width: 80%;
  position: relative;
  margin: 0px auto;
  bottom: 20%;
  top: 60%;
}

.prompt-box {
  display: flex;
  width: 100%;
  min-height: 130px;
  padding: 20px;
  background: #ffffff;
  opacity: 60%;
  border-radius: 10px;
}

.prompt-content {
  position: absolute;
  width: 90%;
  left: 20px;
  color: black;
  font-size: 30px;
  font-family: 'Gill Sans';
}
