body {
  background-color: #e3f2fd;
}
.centerme {
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  text-align: center;
  align-items: center;
  align-content: center;
  padding: 15px;
  margin: auto;
  position: relative;
  top: 5vh;
  /* border: 2px solid #f6a400;
  border-radius: 10%; */
  height: 550px;
  /* width: 300px; */
}

.verticalform {
  text-align: match-parent;
  width: 200px;
  height: 350px;
}
.formdiv {
  border-radius: 10%;
  background-color: #ffffff;
  opacity: 70%;
  padding: 10px;
  min-width: 70%;
}

.logo {
  padding: 10px;
  /* margin: auto; */
}

.landingbody {
  text-align: match-parent;
}
